body                    { font-family: 'Open Sans', sans-serif;}
h1                      { text-align: center; }
.wrapper                { max-width: 1000px; margin: 0 auto; position: relative; }
div                     { padding: 20px 20px; margin-bottom: 20px; }
div.light               { color: #fff; }
table                   { border-collapse: collapse; width: 100%;}
table img               { max-height: 40px; max-width:300px; }
table td.transparent    { background: #E8E8E8; }
table td                { vertical-align: middle; padding:5px  20px ; border: 1px solid #ccc; }
table td span           { color: #fff; background: #FD2758; padding:1px 6px; border-radius: 2px; float:right; font-size:12px;}